# Configuration file for MLFLOW Deployment to AWS K8s
version: 2.1
orbs:
  anchore: anchore/anchore-engine@1.8.6
jobs:
  build-and-scan:
    docker:
      - image: python:3.8.2-slim
    executor: anchore/anchore_engine
    working_directory: ~/repo
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            circleci-agent step halt
            apt -y update
            apt -y upgrade
            apt -y install sudo
            ls -al /bin/sh && sudo rm /bin/sh && sudo ln -s /bin/bash /bin/sh && ls -al /bin/sh
            apt -y install git
            apt -y install wget
            apt -y install make
           
      - run:
          name: Install Hadolint
          command: make install-hadolint
      
      - run:
          name: Install Docker client
          command: make install-docker-cli
           
      - run:
          name: Linting Dockerfile
          command: |
            make lint
      
      - setup_remote_docker:
          version: 20.10.2
          docker_layer_caching: true

      - run:
          name: Build Image
          command: |
            docker build -t mlflow_server .
            docker image ls
      
      - anchore/analyze_local_image:
          image_name: 'mlflow_server:latest'
          policy_failure: false
          timeout: '500'

      - anchore/parse_reports
      
      - store_artifacts:
          path: anchore-reports
      
      - run:
          name: Publishing MLFLOW Container
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
            docker image tag mlflow_server $DOCKER_USER/mlflow_server
            docker push $DOCKER_USER/mlflow_server

  test:
    # docker:
    #   - image: python:3.8.2-slim
    machine: true
    working_directory: ~/repo
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            sudo apt-get -y update
            sudo apt-get -y upgrade
            # sudo apt-get -y install curl
            # sudo apt-get -y install wget
            # sudo apt-get -y install make
            sudo apt-get -y install python3-venv
      
      # - run:
      #     name: Install Docker client
      #     command: make install-docker-cli
      
      # - setup_remote_docker:
      #     version: 20.10.2
      #     docker_layer_caching: true
      - run: 
          name: Download image and check that is it running
          command: |
            docker pull $DOCKER_USER/mlflow_server
            docker run -p 5000:5000 -d --name test_server $DOCKER_USER/mlflow_server --host 0.0.0.0
            docker container ls
            curl -s -o /dev/null -w "%{http_code}" --retry 10 --retry-connrefused http://localhost:5000
            if [[ `curl -s -o /dev/null -w "%{http_code}" http://localhost:5000` == 200 ]] 
            then
              echo "Successfully connected to running docker image"
            else
              #circleci-agent step halt
              echo "failure"
            fi

      - run:
          name: Setup python environment and install mlflow client
          command: |
            make setup-env
            make install-env

      - run:
          name: Add experiments to repository
          command: |
            set TRACKING_HOST=http://localhost:5000
            make test-models

      - run:
          name: Verify models were added
          command: echo "ADD TEST HERE"
      
workflows:
  MLFlow-AWS:
    jobs:
      - build-and-scan:
          context: CAPSTONE
      - test:
          context: CAPSTONE
