# Configuration file for MLFLOW Deployment to AWS K8s
version: 2.1
#orbs:
#    anchore-engine: anchore/anchore-engine@1.8.6
jobs:
  build-and-scan:
    docker:
      - image: python:3.8.2-slim

    working_directory: ~/repo
    #executor: anchore/anchore_engine

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            apt -y update
            apt -y upgrade
            apt -y install sudo
            ls -al /bin/sh && sudo rm /bin/sh && sudo ln -s /bin/bash /bin/sh && ls -al /bin/sh
            apt -y install git
            apt -y install wget
            apt -y install make
            apt -y install python3-venv
           
      - run:
          name: Install Hadolint
          command: make install-hadolint
      
      - run:
          name: Install Docker client
          command: make install-docker-cli
           
      - run:
          name: Linting Dockerfile
          command: |
            make lint
      
      - setup_remote_docker:
          version: 20.10.2
          docker_layer_caching: true

      - run:
          name: Build Image
          command: docker build --tag="MLFLOW-Server"
      
      # scan image for vulnerabilities
#      - anchore/analyze_local_image:
#          image_name: ${CIRCLE_PROJECT_REPONAME}:ci
#          timeout: '500'
#          analysis_fail: True

      # push container to docker hub repository
      - run:
          name: Publishing MLFLOW Container
          command: |
            make upload-img

workflows:
  build:
    jobs:
      - build-and-scan


      
      
