# Configuration file for MLFLOW Deployment to AWS K8s
version: 2.1
#orbs:
#    anchore-engine: anchore/anchore-engine@1.8.6
jobs:
  build-and-scan:
    docker:
      - image: python:3.8.2-slim

    working_directory: ~/repo
    #executor: anchore/anchore_engine

    steps:
      - checkout

      # Download and install dependencies
      - run:
          name: Install dependencies
          command: |
            apt -y update
            apt -y upgrade
            apt -y install git
            apt -y install make
            apt -y install python3-venv
            make install
      
      # run lint!
      - run:
          name: Linting Dockerfile
          command: |
            make lint

      # build mlflow container
      - run:
          name: Building MLFLOW container
          command: |
            make build-img
      
      # scan image for vulnerabilities
#      - anchore/analyze_local_image:
#          image_name: ${CIRCLE_PROJECT_REPONAME}:ci
#          timeout: '500'
#          analysis_fail: True

      # push container to docker hub repository
      - run:
          name: Publishing MLFLOW Container
          command: |
            make upload-img

workflows:
  build:
    jobs:
      - build-and-scan


      
      
