Description: >
  Cloudfront distribution for mlflow.
Parameters:
  WorkflowID:
    Description: Unique identifier.
    Type: String
  mlflowHostName:
    Description: URL to k8 service for mlflow
    Type: String


Resources:
  # cloudfront 
  CloudFrontOriginAccessIdentity:
    Type: "AWS::CloudFront::CloudFrontOriginAccessIdentity"
    Properties:
      CloudFrontOriginAccessIdentityConfig:
        Comment: Origin Access Identity for Serverless Static Website

  WebpageCDN:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Origins:
          - DomainName: !Sub "mlflow-cloudfront-${WorkflowID}.s3.amazonaws.com"
            Id: webpage
            S3OriginConfig:
              OriginAccessIdentity: !Sub "origin-access-identity/cloudfront/${CloudFrontOriginAccessIdentity}"
        Enabled: True
        DefaultRootObject: index.html
        DefaultCacheBehavior:
          ForwardedValues:
            QueryString: False
          TargetOriginId: webpage
          ViewerProtocolPolicy: allow-all

  # s3 bucket bound to cloudfront
  MLFlowBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "mlflow-cloudfront-${WorkflowID}"
      AccessControl: PublicRead
      WebsiteConfiguration:
        IndexDocument: index.html
      RedirectAllRequestsTo:
        HostName: mlflowHostName
        Protocol: http
  
  MLFlowBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref MLFlowBucket
      PolicyDocument:
        Id: MLFlowPolicy
        Version: 2012-10-17
        Statement:
          - Sid: MLFlowBucketAccessPolicy
            Effect: Allow
            Principal:
              AWS: 
                !Join [
                  "",
                  [
                    "arn:aws:iam::cloudfront:user/CloudFront Origin Access Identity ",
                    !Ref CloudFrontOriginAccessIdentity,
                  ],
                ]
            Action: 
              - s3:GetObject
            Resource: 
              - !Join ['', ['arn:aws:s3:::', !Ref MLFlowBucket, /*]]

Outputs:
  WebURL:
    Value: !GetAtt
      - MLFlowBucket
      - WebsiteURL
    Description: URL for website hosted on S3
    Export:
      Name: 
        Fn::Sub: "${AWS::StackName}-WebUrl"

  WorkflowID:
    Value: !Sub ${WorkflowID}
    Description: WorkflowID
    Export:
      Name: WorkflowID